# ===== VPS (Self-Hosted via Coolify) — ATIVO =====
VITE_SUPABASE_URL=https://www.xxxxxxxxxxxxxxxxxxxxxx.xxxx.org
VITE_SUPABASE_PUBLISHABLE_KEY=eyJ0eXAiOiJKV...............
SUPABASE_SERVICE_ROLE_KEY=ey...............


# ===== Integração com n8n (MedBot) =====
N8N_WEBHOOK_URL=https://mednetn8n.duckdns.org/webhook-test/medbot-chat
INTERNAL_API_KEY=sua_chave_secreta_aqui

# ===== Integração com o robô Horizon (Bot_HorizonScraping, VPS) =====
HORIZON_BOT_TOKEN=sua_chave_secreta_aqui
